    .custom-logo {
        transform: scale(1);
        transition: transform 0.25s ease; 
        &:hover {
            transform: scale(1.1); 
        }
    }
    .site-header{
        display: flex;
        justify-content: center;
        .main-navigation{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .2rem 2rem;
            max-width: 1200px;
            width: 90%;
        }
    }
    
    /* Full Page Menu Styles */
    .main-navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .menu-menu-1-container{
        ul{
            display: flex;
            li{
                margin-left: .8rem;
            }
        }
    }

    .ham{
        display: block;
        position: relative;
        #open,#close{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        @include breakpoint-md{
            display: none;
        }
    }
